body {
    padding: 0%;
    margin: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("assets/RIck and Morty background.png");
    background-size: cover;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.hide {
    display: none;
}

.timer,
.textBox {
    font-size: 40px;
    font-family: 'Creepster', cursive;
    color: red;
    text-indent: 15px;

}

p,
#question {
    font-size: xx-large;
    font-family: 'Creepster', cursive;

}

h1 {
    font-size: 40px;
    font-family: 'Creepster', cursive;

}

#startQuiz,
.answer,
#initialsScores,
.goBack,
.clearHighscore {
    font-family: 'Bangers', cursive;
    font-size: larger;
    color: white;
    background-color: black;


}